<h1 class="mt-2 ml-2"><%= t('.header') %></h1>
<button type="button" class="btn btn-outline-primary mt-2 ml-2">
  <%= link_to t('.new_badge'), new_admin_badge_path %>
</button>

<%= render 'shared/errors', resource: @badge %>

<table class="table mt-3">
  <tr class="table table-active">
    <th><%= t('.title') %></th>
    <th ><%= t('.image_url') %></th>
    <th><%= t('.rule') %></th>

    <th colspan="3" style="text-align: center !important;"><%= t('.actions') %></th>
  </tr>

  <%= render @badges %>

</table>

<p class="mb-5"><%= link_to t('.tests'), admin_tests_path %></p>