<h5><%= t('.title') %> <%= @badge.title %> </h3>
<h5><%= t('.image_url') %> <%= @badge.image_url %> </h3>
<h5><%= t('.rule') %> <%= @badge.rule %> </h3>

<%= link_to t('.tests'), admin_tests_path %>
<%= link_to t('.badges'), admin_badges_path %>