<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<b><%= t('.correct replies') %>

<% if @test_passage.test_passed? %>
  <ins id="success"><%= @test_passage.correct_replies_percent %>%</ins><br>
  <b><%= t('.successfully') %></b>
<% else %>
  <ins id="failed"><%= @test_passage.correct_replies_percent %>%</ins><br>
  <b><%= t('.failed') %></b>
<% end %></b>
<br>
<%= link_to t('.tests'), tests_path %>