<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @test_passage.user_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @test_passage.test_id %>
</p>

<p>
  <strong>Correct questions:</strong>
  <%= @test_passage.correct_questions %>
</p>

<p>
  <strong>Current questions:</strong>
  <%= @test_passage.current_questions_id %>
</p>

<%= link_to 'Edit', edit_test_passage_path(@test_passage) %> |
<%= link_to 'Back', test_passages_path %>
