<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<li>
  <%= @test_passage.current_question.body %>
</li>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :reply_ids, @test_passage.current_question.replies, :id, :body do |b| %>
  <p>
    <%= b.check_box id: "reply_ids_#{b.object.id}" %>
    <%= b.label %>
  </b>
  <% end %>
<% end %>
