<h1><%= t('.header') %></h1>

<table class="table table-bordered table-hover table-sm">
  <tr class="table-active">
    <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.number of questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>
<%= render @tests %>

</table>

<%= link_to t('.badges'), badges_path %>