<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="nav user"><%= link_to 'TestGuru Project', root_path %></p>

  <% if user_signed_in? %>
    <p class="nav user">
    Welcome, <b><%= current_user.name %></b> Guru |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>

  <% end %>

  <%= render 'shared/flash' %>

    <%= yield %>
  </body>

<%= render 'shared/footer'%>
</html>